<h1><%= title %></h1>
<%- messages() %>

<div class="account-container">
  <form id="addInventoryForm" action="/inv/add-inventory" method="post">
    <fieldset>
      <label>Classification</label>
      <%- classificationSelect %> <label for="inv_make">Make</label>
      <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>">

      <label for="inv_model">Model</label>
      <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>">

      <label for="inv_year">Year</label>
      <input type="number" name="inv_year" id="inv_year" required value="<%= locals.inv_year %>">

      <label for="inv_description">Description</label>
      <textarea name="inv_description" required><%= locals.inv_description %></textarea>

      <label for="inv_price">Price</label>
      <input type="number" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>">

      <label for="inv_miles">Miles</label>
      <input type="number" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>">

      <label for="inv_color">Color</label>
      <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>">

      <input type="hidden" name="inv_image" value="/images/vehicles/no-image.png">
      <input type="hidden" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png">

      <button type="submit" class="btn">Add Vehicle</button>
    </fieldset>
  </form>
</div>